:root {
    --primary-color: #00293c;
    --second-color: #f1f3ce;
    --third-color: #1e656d;
    --gray-color: #E5E5E5;
}
.container_swap{

    width: 100%;
    
    }
    
    .div_left{
    
    width: 600px;
    
    float: left;

    
    }
    
    .div_right{
    
    width: 50%;
    
    float: left;
    

    }
button:hover
{
    color: #fff;
    background-color:black;
}
    
